/* Reset default margins/padding for the page */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Example font */

    background-color: #8d878727;
  }
  


  header img{
    width: 140px
    
  }
  
  /* You can also add spacing to your other sections */
  section,
  main {
    margin: 1rem;  /* This adds spacing around sections and the main area */
  }

  .navbar-black{
    background-color: #000 !important;
  }