/* Reset default margins/padding for the page */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Example font */

    background-color: #8d878727;
  }
  


  header img{
    width: 140px
    
  }
  
  /* You can also add spacing to your other sections */
  section,
  main {
   
  }

  .navbar-black{
    background-color: #000 !important;
  }

  .carousel-item img{
    max-height: 500px;
    width: 100%;
    object-fit: cover;

  }